<<<<<<< HEAD
*{
    margin: 0;
    padding: 0;
}

.header{
    background-color: rgb(0, 86, 86);
    align-items: center;
    height: 100px;
    display:flex;
    color: white;
}

.ligneheader{
    height: 5px;
    background-color: greenyellow;
    display: flex;
=======
body{
    background-color: white;
>>>>>>> 3f94b41 (commit)
}