*{
    margin: 0;
    padding: 0;
}

body{
    background-color: white;
}

.header{
    background-color: rgb(0, 86, 86);
    align-items: center;
    height: 100px;
    display:flex;
    color: white;
}

.logo {
    width: 101px;
    height: 60.5px;
    margin: 10px;
}

.ligneheader{
    height: 5px;
    background-color: greenyellow;
    display: flex;
}

.container1{
    background-color: rgb(0, 67, 67);
    flex-direction: row;
    justify-content: space-around;
    display: flex;
}

.bloc1 {
    flex-direction: column;
    color: rgb(184, 255, 255);
    display: flex;
    margin: 38px;
    justify-content: center;
    width: 600px;
}

.header h1{
    margin: 5px;
}

.bloc2 {
    flex-direction: column;
    display: flex;
    margin: 38px;
    justify-content: center;
    width: 600px;
}

.video {
    border: 10px rgb(184, 255, 255);
}